@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color1: #140f2d;
	--color2: #0091ad;
	--color2Soft: #0090ad1b;
	--color2Shadow: #01697e;
	--color3: #f58a07;
	--color4: #d72638;
	--color-texto-dark: #131313;
	--color-texto-white: #fff4e4;
}
* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: var(--color-texto-dark);
}

/* Button Beneficios */
.benefits-button {
	position: relative;
	display: inline-block;
	padding: 12px 32px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--color2);
	background-color: #e9e8e8d2;
	border: none;
	border-radius: 50px;
	overflow: hidden;
	z-index: 1;
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.benefits-button:hover {
	transform: scale(1.05);
	color: #fff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.benefits-button:active {
	transform: scale(0.9);
}

.benefits-button::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #007bff, #00bfff);
	transition: left 0.4s ease-in-out;
	z-index: -1;
	border-radius: 15px;
}

.benefits-button:hover::before {
	left: 0;
}

.benefits-button span {
	position: relative;
	z-index: 2;
}

.benefits-button:hover span {
	animation: slide 0.4s forwards;
}

@keyframes slide {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100%);
	}
}
/* SWITCH BUTTON */

.switch-button {
	display: inline-block;
	width: 280px;
	height: 50px;
	background-color: #e0dfdfbe;
	border-radius: 30px;
	cursor: pointer;
	padding: 0;
}

#toggle {
	display: none;
}

.switch-slider {
	display: block;
	font-size: 14px;
	position: relative;
}

.switch-slider::after {
	content: 'MODO REGULAR';
	width: 150px;
	height: 50px;
	background-color: var(--color2);
	border: 2px solid #fff;
	border-radius: 30px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	color: white;
	position: absolute;
	left: 2px;
	display: grid;
	place-content: center;
	line-height: 0;
	transition: background-color 0.35s, transform 0.25s ease-in;
}

#toggle:checked + .switch-slider::after {
	content: 'MODO INTENSIVO';
	background-color: var(--color3);
	transform: translateX(130px);
}

/* BAR TRIANGLE CSS PROPERTY */
.regular-triangle {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 0 240px 220px;
	border-color: transparent transparent var(--color2) transparent;
	border-radius: 0 0 0 0;
}
.intensive-triangle {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 0 240px 400px;
	border-color: transparent transparent var(--color3) transparent;
	border-radius: 0 0 0 0;
}
@media screen and (max-width: 450px) {
	.intensive-triangle {
		border-width: 0 0 240px 300px;
	}
}

.radio-input input {
	display: none;
}

.radio-input {
	display: flex;
	flex-direction: column;
	padding: 16px;
	background: #fff;
	color: #000;
	border-radius: 10px;
	box-shadow: 0px 57px 88px -39px rgba(0, 0, 0, 0.305);
	width: 320px;
	margin: 8px auto;
}

.info {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.question {
	color: rgb(49, 49, 49);
	font-size: 1rem;
	line-height: 1rem;
	font-weight: 800;
}

.steps {
	padding: 4px;
	color: #fff;
	border-radius: 4px;
	font-size: 12px;
	line-height: 12px;
	font-weight: 600;
}

.radio-input label {
	display: flex;
	background-color: #fff;
	padding: 16px;
	margin: 8px 0 0 0;
	font-size: 13px;
	font-weight: 600;
	border-radius: 10px;
	cursor: pointer;
	border: 1px solid rgba(187, 187, 187, 0.164);
	color: #000;
	transition: 0.3s ease;
}

.radio-input label:hover {
	background-color: rgba(24, 24, 24, 0.13);
	border: 1px solid #bbb;
}

.result {
	margin-top: 10px;
	font-weight: 600;
	font-size: 12px;
	display: none;
	transition: display 0.4s ease;
}

.result.success {
	color: green;
}

.result.error {
	color: red;
}

.radio-input input:checked + label {
	border-color: red;
	color: red;
}

.radio-input input[value='value-2']:checked + label {
	border-color: rgb(22, 245, 22);
	color: rgb(16, 184, 16);
}

.radio-input:has(input[value='value-2']:checked) .result.success {
	display: flex;
}

.radio-input:has(input:not([value='value-2']):checked) .result.error {
	display: flex;
}

/* loader to interact with whatever mobile-desktop way to learn */
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	width: 160px;
	height: 100px;
	margin-left: -80px;
	margin-top: -50px;
	border-radius: 5px;
	background: #1e3f57;
	animation: dot1_ 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.loader:nth-child(2) {
	z-index: 11;
	width: 150px;
	height: 90px;
	margin-top: -45px;
	margin-left: -75px;
	border-radius: 3px;
	background: #3c517d;
	animation-name: dot2_;
}

.loader:nth-child(3) {
	z-index: 12;
	width: 40px;
	height: 20px;
	margin-top: 50px;
	margin-left: -20px;
	border-radius: 0 0 5px 5px;
	background: #6bb2cd;
	animation-name: dot3_;
}

@keyframes dot1_ {
	3%,
	97% {
		width: 160px;
		height: 100px;
		margin-top: -50px;
		margin-left: -80px;
	}

	30%,
	36% {
		width: 80px;
		height: 120px;
		margin-top: -60px;
		margin-left: -40px;
	}

	63%,
	69% {
		width: 40px;
		height: 80px;
		margin-top: -40px;
		margin-left: -20px;
	}
}

@keyframes dot2_ {
	3%,
	97% {
		height: 90px;
		width: 150px;
		margin-left: -75px;
		margin-top: -45px;
	}

	30%,
	36% {
		width: 70px;
		height: 96px;
		margin-left: -35px;
		margin-top: -48px;
	}

	63%,
	69% {
		width: 32px;
		height: 60px;
		margin-left: -16px;
		margin-top: -30px;
	}
}

@keyframes dot3_ {
	3%,
	97% {
		height: 20px;
		width: 40px;
		margin-left: -20px;
		margin-top: 50px;
	}

	30%,
	36% {
		width: 8px;
		height: 8px;
		margin-left: -5px;
		margin-top: 49px;
		border-radius: 8px;
	}

	63%,
	69% {
		width: 16px;
		height: 4px;
		margin-left: -8px;
		margin-top: -37px;
		border-radius: 10px;
	}
}
